#!name = 闲鱼去广告
#!desc = 移除开屏广告、商品信息流广告、搜索栏填充词、我的页面推广横幅。
#!openUrl = https://apps.apple.com/app/id510909506
#!author = 可莉🅥 [https://gitlab.com/lodepuly/vpn_tool],Kelv1n1n[https://github.com/kelv1n1n/script],奶思[https://github.com/fmz200/wool_scripts],怎么肥事[https://github.com/ZenmoFeiShi/Qx]
#!tag = 去广告
#!system = iOS
#!system_version = 
#!loon_version = 3.2.1(372)
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/blob/master/README.md
#!icon = https://gitlab.com/lodepuly/iconlibrary/-/raw/main/App_icon/120px/FleaMarket.png
#!date = 2024-08-13 03:27:06

# hostname = acs.m.goofish.com, g-acs.m.goofish.com, dinamicx.alibabausercontent.com
# 拦截广告下发
^http:\/\/amdc\.m\.taobao\.com\/amdc\/mobileDispatch %E9%97%B2%E9%B1%BC* url-and-header reject
# 首页顶部标签
^https:\/\/(g-)?acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.home\.whale\.modulet\/ url script-response-body https://github.com/fmz200/wool_scripts/raw/main/Scripts/xianyu/xianyu_ads.js
# 搜索栏填充词
^https:\/\/(g-)?acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\.shade\/ url script-response-body https://github.com/fmz200/wool_scripts/raw/main/Scripts/xianyu/xianyu_ads.js
# 首页闲鱼币入口、底部发布球
^https:\/\/(g-)?acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.user\.strategy\.list\/ url script-response-body https://github.com/fmz200/wool_scripts/raw/main/Scripts/xianyu/xianyu_ads.js
# 我的页面横幅
^https:\/\/dinamicx\.alibabausercontent\.com\/pub\/fish_home_top_kingkong_new\/ url reject
# 商品信息流广告
^https:\/\/(g-)?acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.nextfresh\/ url script-response-body https://github.com/fmz200/wool_scripts/raw/main/Scripts/xianyu/xianyu_ads.js
# 定位地区页面的信息流广告
^https:\/\/(g-)?acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.local\.home\/ url script-response-body https://github.com/fmz200/wool_scripts/raw/main/Scripts/xianyu/xianyu_ads.js
# 闲鱼精选
#^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemessage\.region\.sync\/ url response-body "increments":\[.+\] response-body "increments":[]

# 个人主页
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.idle\.user\.page\.my\.adapter\/ url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
# 消息页感兴趣推荐
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.playboy\.recommend\/1\.0 url reject
# 主页关注的人感兴趣推荐
#^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.playboy\.recommend\/2\.0 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
# 旧版首页顶部频道菜单
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.circle\.list\/ url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
# 商品详情页底部推荐
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.item\.recommend\.list\/ url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
# 商品详情页周边推荐
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.local\.nearby\.itemdetail\.enter\/1\.0 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
# 0关注情况下首页顶部关注频道的用户推荐
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.fun\.follow\.feed\.list\/ url reject-dict
# 搜索结果信息流广告
^https:\/\/g-acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\/ url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
# 关注的人页面圈子横幅
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.group\.myself\.banner\/ url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js

# 搜索页多余推荐列表
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.item\.search\.activate\/2\.0 url reject-dict
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\.discover\/1\.0 url reject-dict
# 这些宝贝超好卖
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.item\.resell\.recommendorhotcate\/1\.0 url reject-dict
# 用闲鱼币买更便宜
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.idle\.coin\.nextfresh\/1\.0 url reject-dict
# 消息页闲鱼精选
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemessage\.session\.sync\/3\.0 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js

hostname = acs.m.goofish.com, g-acs.m.goofish.com, dinamicx.alibabausercontent.com